/* ==================== */
/*   __  __ _   _ ___   */
/*  |  \/  | | | |_ _|  */
/*  | |\/| | | | || |   */
/*  | |  | | |_| || |   */
/*  |_|  |_|\___/|___|  */
/*                      */
/*   michael.ui.system  */
/* ==================== */

/* ==================================================================================================== */
/* 1. BRAND PRIMITIVES  ------> ./mui-brand.css                                                         */
/* ==================================================================================================== */
:where(html) {
  /* Avatar Colors */
  --avatar-purple-200: oklch(69.998% 0.12881 306.598);
  --avatar-purple-800: oklch(39.825% 0.15525 302.768);
  --avatar-violet-200: oklch(68.7% 0.11278 294.579);
  --avatar-violet-800: oklch(37.751% 0.1414 289.195);
  --avatar-pink-200: oklch(75% 0.12171 349.037);
  --avatar-pink-800: oklch(49.567% 0.17587 355.522);
  --avatar-magenta-200: oklch(73.607% 0.1553 324.203);
  --avatar-magenta-800: oklch(46.026% 0.18151 324.267);
  --avatar-red-200: oklch(69.219% 0.13185 21.008);
  --avatar-red-800: oklch(43.588% 0.15193 26.224);
  --avatar-orange-200: oklch(78.978% 0.10803 55.747);
  --avatar-orange-800: oklch(51.737% 0.12922 49.443);
  --avatar-amber-200: oklch(88.238% 0.11573 91.663);
  --avatar-amber-800: oklch(65.465% 0.13065 86.837);
  --avatar-yellow-200: oklch(92.328% 0.116 104.198);
  --avatar-yellow-800: oklch(72.736% 0.14925 103.38);
  --avatar-lime-200: oklch(84.773% 0.11998 130.068);
  --avatar-lime-800: oklch(57.802% 0.13829 132.375);
  --avatar-green-200: oklch(82.146% 0.10519 154.481);
  --avatar-green-800: oklch(55.196% 0.1248 150.768);
  --avatar-teal-200: oklch(83.949% 0.08537 182.617);
  --avatar-teal-800: oklch(57.358% 0.092 179.632);
  --avatar-cyan-200: oklch(81.649% 0.07802 211.528);
  --avatar-cyan-800: oklch(54.656% 0.08505 214.39);
  --avatar-blue-200: oklch(74.949% 0.09578 248.783);
  --avatar-blue-800: oklch(45.925% 0.11981 252.499);
  --avatar-indigo-200: oklch(69.039% 0.10593 274.775);
  --avatar-indigo-800: oklch(38.197% 0.13614 269.807);
}

/* ==================================================================================================== */
/* 2. LIGHT MODE                                                                                        */
/* ==================================================================================================== */
html[data-theme="light"] {
  /* Form */
  --form-default-text-color: var(--grey-900);
  --form-success-text-color: var(--green-700);
  --form-warning-text-color: var(--orange-700);
  --form-error-text-color: var(--red-700);
  --form-default-text-color-hover: var(--grey-800);
  --form-success-text-color-hover: var(--green-800);
  --form-warning-text-color-hover: var(--orange-800);
  --form-error-text-color-hover: var(--red-800);
  --form-default-border-color: var(--grey-300);
  --form-success-border-color: var(--green-600);
  --form-warning-border-color: var(--orange-600);
  --form-error-border-color: var(--red-600);
  --form-default-border-color-hover: var(--grey-400);
  --form-success-border-color-hover: var(--green-700);
  --form-warning-border-color-hover: var(--orange-700);
  --form-error-border-color-hover: var(--red-700);
  --form-default-placeholder-color: var(--grey-500);
  --form-default-placeholder-color-hover: var(--grey-700);
  --form-default-placeholder-color-focus: var(--grey-700);
  --form-default-placeholder-color-disabled: var(--grey-500);
  /* Feedback - Border (Alerts & Messages) */
  --feedback-neutral-border-color: var(--black-opacity-20);
  --feedback-positive-border-color: var(--green-600);
  --feedback-info-border-color: var(--blue-600);
  --feedback-warning-border-color: var(--orange-600);
  --feedback-attention-border-color: var(--red-600);
  /* Feedback - Background (Alerts & Messages) */
  --feedback-neutral-background: var(--white);
  --feedback-positive-background: var(--green-100);
  --feedback-info-background: var(--blue-100);
  --feedback-warning-background: var(--orange-100);
  --feedback-attention-background: var(--red-100);
  /* Feedback - Icon (Alerts & Messages) */
  --feedback-neutral-icon: var(--grey-600);
  --feedback-positive-icon: var(--green-600);
  --feedback-info-icon: var(--blue-600);
  --feedback-warning-icon: var(--orange-600);
  --feedback-attention-icon: var(--red-600);
  /* Feedback - Text (Alerts & Messages) */
  --feedback-neutral-text: var(--grey-900);
  --feedback-positive-text: var(--green-900);
  --feedback-info-text: var(--blue-900);
  --feedback-warning-text: var(--orange-900);
  --feedback-attention-text: var(--red-900);
  /* Feedback - Action (Button & Link) */
  --feedback-neutral-action-background: var(--grey-200);
  --feedback-positive-action-background: var(--green-200);
  --feedback-info-action-background: var(--blue-200);
  --feedback-warning-action-background: var(--orange-200);
  --feedback-attention-action-background: var(--red-200);
  /* Action - Primary (Button & Link) */
  --action-primary-border-color: var(--black-opacity-0);
  --action-primary-border-color-hover: var(--black-opacity-0);
  --action-primary-border-color-focus: var(--black-opacity-0);
  --action-primary-border-color-disabled: var(--black-opacity-0);
  --action-primary-background: var(--grey-900);
  --action-primary-background-hover: var(--grey-1000);
  --action-primary-background-focus: var(--grey-1000);
  --action-primary-background-disabled: var(--grey-200);
  --action-primary-text-color: var(--white);
  --action-primary-text-color-hover: var(--white);
  --action-primary-text-color-focus: var(--white);
  --action-primary-text-color-disabled: var(--grey-400);
  /* Action - Secondary (Button & Link) */
  --action-secondary-border-color: var(--grey-800);
  --action-secondary-border-color-hover: var(--grey-800);
  --action-secondary-border-color-focus: var(--grey-800);
  --action-secondary-border-color-disabled: var(--grey-400);
  --action-secondary-background: var(--white-opacity-0);
  --action-secondary-background-hover: var(--grey-100);
  --action-secondary-background-focus: var(--grey-100);
  --action-secondary-background-disabled: var(--grey-100);
  --action-secondary-text-color: var(--grey-900);
  --action-secondary-text-color-hover: var(--grey-1000);
  --action-secondary-text-color-focus: var(--grey-1000);
  --action-secondary-text-color-disabled: var(--grey-400);
  /* Action - Tertiary (Button & Link) */
  --action-tertiary-border-color: var(--black-opacity-0);
  --action-tertiary-border-color-hover: var(--black-opacity-0);
  --action-tertiary-border-color-focus: var(--black-opacity-0);
  --action-tertiary-border-color-disabled: var(--black-opacity-0);
  --action-tertiary-background: var(--white-opacity-0);
  --action-tertiary-background-hover: var(--black-opacity-10);
  --action-tertiary-background-focus: var(--black-opacity-10);
  --action-tertiary-background-disabled: var(--grey-100);
  --action-tertiary-text-color: var(--grey-900);
  --action-tertiary-text-color-hover: var(--grey-1000);
  --action-tertiary-text-color-focus: var(--grey-1000);
  --action-tertiary-text-color-disabled: var(--grey-400);
  /* Action - Overlay (Button & Link) */
  --action-overlay-border-color: var(--white-opacity-30);
  --action-overlay-border-color-hover: var(--white-opacity-30);
  --action-overlay-border-color-focus: var(--white-opacity-30);
  --action-overlay-border-color-disabled: var(--white-opacity-20);
  --action-overlay-background: var(--black-opacity-60);
  --action-overlay-background-hover: var(--black-opacity-70);
  --action-overlay-background-focus: var(--black-opacity-70);
  --action-overlay-background-disabled: var(--black-opacity-40);
  --action-overlay-text-color: var(--white);
  --action-overlay-text-color-hover: var(--white);
  --action-overlay-text-color-focus: var(--white);
  --action-overlay-text-color-disabled: var(--white-opacity-40);
  /* Action - Attention (Button & Link) */
  --action-attention-border-color: var(--black-opacity-0);
  --action-attention-border-color-hover: var(--black-opacity-0);
  --action-attention-border-color-focus: var(--black-opacity-0);
  --action-attention-border-color-disabled: var(--black-opacity-0);
  --action-attention-background: var(--red-500);
  --action-attention-background-hover: var(--red-600);
  --action-attention-background-focus: var(--red-600);
  --action-attention-background-disabled: var(--red-100);
  --action-attention-text-color: var(--white);
  --action-attention-text-color-hover: var(--white);
  --action-attention-text-color-focus: var(--white);
  --action-attention-text-color-disabled: var(--red-300);
  /* Action - Avatar (Button & Link) */
  --action-avatar-background: var(--grey-200);
  --action-avatar-background-hover: var(--grey-300);
  /* Surface */
  --surface: var(--grey-200);
  --surface-elevated-alpha: var(--white-opacity-50);
  --surface-elevated-100: var(--white);
  --surface-elevated-200: var(--grey-100);
  --prompt-preview-dismiss-border-color: var(--black-opacity-30);
  --prompt-preview-box-drop-shadow: drop-shadow(
    0 var(--stroke-size-100) var(--stroke-size-200) var(--black-opacity-10)
  );
  --prompt-preview-surface: var(--surface-elevated-100);
  --prompt-preview-accent-mix-100: 10%;
  --prompt-preview-accent-mix-200: 8%;
  --prompt-preview-accent-mix-300: 6%;
  --prompt-preview-accent-mix-400: 8%;
  --prompt-preview-accent-mix-500: 4%;
  --prompt-preview-dismiss-secondary-background: var(--grey-100);
  --prompt-preview-dismiss-secondary-background-hover: var(--grey-200);
  --prompt-preview-dismiss-secondary-border: var(--stroke-size-100) var(--stroke-solid) var(--black-opacity-30);
  --prompt-preview-dismiss-secondary-border-hover: var(--stroke-size-100) var(--stroke-solid) var(--black-opacity-50);
  --prompt-preview-top-shade-height: calc(var(--space-600) + var(--space-100));
  --prompt-preview-top-shade-start: var(--black-opacity-10);
  --prompt-preview-top-shade-end: var(--black-opacity-0);
  --prompt-preview-top-shade-start-overlay: var(--black-opacity-50);
  --prompt-preview-top-shade-end-overlay: var(--black-opacity-0);
  --surface-recessed-alpha: var(--black-opacity-10);
  --surface-recessed-100: var(--grey-300);
  --surface-recessed-200: var(--grey-400);
  /* Stroke */
  --outline-color: var(--blue-500);
  --border-color: var(--black-opacity-20);
  /* Text */
  --text-color: var(--grey-900);
  --text-color-success: var(--green-600);
  --text-color-warning: var(--orange-600);
  --text-color-error: var(--red-600);
  --text-color-optional: var(--grey-500);
  /* Overlay */
  --backdrop-overlay: var(--black-opacity-70);
  /* ================================================================================================== */
  /* Components                                                                                         */
  /* ================================================================================================== */
  /* Switch */
  --switch-track-background: var(--grey-300);
  --switch-track-background-checked: var(--green-500);
  --switch-thumb-bg: var(--white);
  --switch-icon: var(--icon-color-default);
  /* Icon */
  --icon-color-default: var(--black);
  --icon-color-inverted: var(--white);
  /* Badge */
  --badge-text-color: var(--grey-100);
  --badge-background-neutral: var(--grey-600);
  --badge-background-positive: var(--green-600);
  --badge-background-warning: var(--orange-600);
  --badge-background-attention: var(--red-600);
  --badge-background-overlay: var(--black-opacity-60);
  --badge-text-color-overlay: var(--white);
  --badge-border-overlay: var(--stroke-size-100) var(--stroke-solid) var(--white-opacity-30);
  /* Heading */
  --heading-text-color: var(--grey-1000);
  /* Link */
  --link-text-color-default: var(--grey-900);
  --link-text-color-default-hover: var(--grey-1000);
  --link-text-color-default-focus: var(--grey-1000);
  --link-text-color-default-disabled: var(--grey-800);
  /* Input */
  --input-background: var(--white);
  --input-background-disabled: var(--grey-100);

  /* Checkbox */
  --checkbox-background: var(--white);
  --checkbox-background-checked: var(--grey-900);
  --checkbox-icon-color-checked: var(--grey-200);

  --checkbox-background-disabled: var(--grey-100);
  --checkbox-background-checked-disabled: var(--grey-800);
  --checkbox-icon-color-checked-disabled: var(--grey-100);
  /* Radio */
  --radio-background: var(--white);
  --radio-border-color: var(--form-default-border-color);
  --radio-border-color-hover: var(--form-default-border-color-hover);
  --radio-border-color-checked: var(--grey-900);
  --radio-dot-color-checked: var(--grey-900);
  --radio-background-disabled: var(--grey-100);
  --radio-border-color-disabled: var(--grey-300);
  --radio-dot-color-checked-disabled: var(--grey-500);

  /* Addon */
  --addon-background: var(--grey-100);
  /* Tabs */
  --tab-border-color: var(--grey-300);

  --tab-background: var(--grey-200);
  --tab-icon: var(--grey-900);
  --tab-text-color: var(--grey-900);

  --tab-background-active: var(--white);
  --tab-icon-active: var(--black);
  --tab-text-color-active: var(--black);
  --tab-shadow-active: var(--black-opacity-10);

  /* Carousel */
  --carousel-background: var(--white);

  /* Slat */
  --slat-background: var(--white-opacity-60);
  --slat-background-hover: var(--white-opacity-90);
  --slat-card-background: var(--surface-elevated-100);
  --slat-card-background-hover: var(--surface-elevated-200);
  --slat-avatar-background: var(--black-opacity-10);
  --slat-avatar-background-hover: var(--black-opacity-20);
  --slat-card-avatar-background: var(--black-opacity-10);
  --slat-card-avatar-background-hover: var(--black-opacity-20);

  /* Avatar */
  --avatar-background-neutral: var(--grey-200);
  --avatar-background-positive: var(--green-200);
  --avatar-background-warning: var(--orange-200);
  --avatar-background-attention: var(--red-200);

  --avatar-background-purple: var(--avatar-purple-200);
  --avatar-background-violet: var(--avatar-violet-200);
  --avatar-background-pink: var(--avatar-pink-200);
  --avatar-background-magenta: var(--avatar-magenta-200);
  --avatar-background-red: var(--avatar-red-200);
  --avatar-background-orange: var(--avatar-orange-200);
  --avatar-background-amber: var(--avatar-amber-200);
  --avatar-background-yellow: var(--avatar-yellow-200);
  --avatar-background-lime: var(--avatar-lime-200);
  --avatar-background-green: var(--avatar-green-200);
  --avatar-background-teal: var(--avatar-teal-200);
  --avatar-background-cyan: var(--avatar-cyan-200);
  --avatar-background-blue: var(--avatar-blue-200);
  --avatar-background-indigo: var(--avatar-indigo-200);

  /* Chip */
  --chip-background: var(--white);
  --chip-background-hover: var(--white);
  --chip-background-focus: var(--white);
  --chip-background-active: var(--white);
  --chip-border-color: var(--grey-200);
  --chip-border-color-hover: var(--grey-300);
  --chip-border-color-focus: var(--grey-300);
  --chip-border-color-active: var(--grey-1000);
  --chip-text-color-active: var(--grey-1000);
  --chip-icon-fill: var(--black);
  --chip-filter: drop-shadow(0 var(--stroke-size-100) var(--stroke-size-200) var(--black-opacity-5));
  --chip-dismiss-action-background: var(--grey-150);
  --chip-dismiss-action-background-hover: var(--black-opacity-0);
  --chip-dismiss-action-filter: drop-shadow(0 var(--stroke-size-100) var(--stroke-size-200) var(--black-opacity-0));

  /* Dropdown */
  --dropdown-background: var(--grey-100);
  --dropdown-border-color: var(--black-opacity-20);
  --dropdown-shadow-color: var(--black-opacity-10);
  --dropdown-button-background-hover: var(--white);

  /* Progress */
  --progress-bar-background: var(--blue-600);
  --progress-track-background: var(--grey-200);
  --progress-loading-bar-100: var(--grey-200);
  --progress-loading-bar-200: var(--grey-300);
  --progress-syncing-bar-background: var(--progress-bar-background);

  /* Stepper */
  --stepper-color: var(--grey-700);
  --stepper-background-active: var(--stepper-color);
  --stepper-background-inactive: var(--white);
  --stepper-border-color: var(--stepper-color);
  --stepper-text-color-active: var(--stepper-color);
  --stepper-icon-color: var(--white);
  --stepper-success-color: var(--stepper-color);
  --stepper-warning-color: var(--orange-700);
  --stepper-error-color: var(--text-color-error);
  --stepper-disabled-color: var(--text-color-optional);
  --stepper-disabled-opacity: 0.75;

  /* Dialog */
  --dialog-background: var(--white);

  /* Drawer */
  --drawer-background: var(--white);
}

/* ==================================================================================================== */
/* 3. DARK MODE                                                                                         */
/* ==================================================================================================== */
html[data-theme="dark"] {
  /* Form */
  --form-default-text-color: var(--grey-200);
  --form-success-text-color: var(--green-400);
  --form-warning-text-color: var(--orange-400);
  --form-error-text-color: var(--red-400);
  --form-default-text-color-hover: var(--grey-100);
  --form-success-text-color-hover: var(--green-300);
  --form-warning-text-color-hover: var(--orange-300);
  --form-error-text-color-hover: var(--red-300);
  --form-default-border-color: var(--grey-600);
  --form-success-border-color: var(--green-400);
  --form-warning-border-color: var(--orange-400);
  --form-error-border-color: var(--red-400);
  --form-default-border-color-hover: var(--grey-500);
  --form-success-border-color-hover: var(--green-300);
  --form-warning-border-color-hover: var(--orange-300);
  --form-error-border-color-hover: var(--red-300);
  --form-default-placeholder-color: var(--grey-500);
  --form-default-placeholder-color-hover: var(--grey-400);
  --form-default-placeholder-color-focus: var(--grey-400);
  --form-default-placeholder-color-disabled: var(--grey-500);
  /* Feedback - Border (Alerts & Messages) */
  --feedback-neutral-border-color: var(--white-opacity-20);
  --feedback-positive-border-color: var(--green-400);
  --feedback-info-border-color: var(--blue-400);
  --feedback-warning-border-color: var(--orange-400);
  --feedback-attention-border-color: var(--red-400);
  /* Feedback - Background (Alerts & Messages) */
  --feedback-neutral-background: var(--grey-800);
  --feedback-positive-background: var(--green-800);
  --feedback-info-background: var(--blue-800);
  --feedback-warning-background: var(--orange-800);
  --feedback-attention-background: var(--red-800);
  /* Feedback - Icon (Alerts & Messages) */
  --feedback-neutral-icon: var(--grey-200);
  --feedback-positive-icon: var(--green-200);
  --feedback-info-icon: var(--blue-200);
  --feedback-warning-icon: var(--orange-200);
  --feedback-attention-icon: var(--red-200);
  /* Feedback - Text (Alerts & Messages) */
  --feedback-neutral-text: var(--grey-100);
  --feedback-positive-text: var(--green-100);
  --feedback-info-text: var(--blue-100);
  --feedback-warning-text: var(--orange-100);
  --feedback-attention-text: var(--red-100);
  /* Feedback - Action (Button & Link) */
  --feedback-neutral-action-background: var(--grey-900);
  --feedback-positive-action-background: var(--green-900);
  --feedback-info-action-background: var(--blue-900);
  --feedback-warning-action-background: var(--orange-900);
  --feedback-attention-action-background: var(--red-900);
  /* Action - Primary (Button & Link) */
  --action-primary-border-color: var(--black-opacity-0);
  --action-primary-border-color-hover: var(--black-opacity-0);
  --action-primary-border-color-focus: var(--black-opacity-0);
  --action-primary-border-color-disabled: var(--black-opacity-0);
  --action-primary-background: var(--grey-200);
  --action-primary-background-hover: var(--grey-100);
  --action-primary-background-focus: var(--grey-100);
  --action-primary-background-disabled: var(--grey-800);
  --action-primary-text-color: var(--grey-900);
  --action-primary-text-color-hover: var(--grey-900);
  --action-primary-text-color-focus: var(--grey-900);
  --action-primary-text-color-disabled: var(--grey-400);
  /* Action - Secondary (Button & Link) */
  --action-secondary-border-color: var(--grey-200);
  --action-secondary-border-color-hover: var(--grey-200);
  --action-secondary-border-color-focus: var(--grey-200);
  --action-secondary-border-color-disabled: var(--grey-600);
  --action-secondary-background: var(--black-opacity-0);
  --action-secondary-background-hover: var(--grey-800);
  --action-secondary-background-focus: var(--grey-800);
  --action-secondary-background-disabled: var(--grey-900);
  --action-secondary-text-color: var(--grey-100);
  --action-secondary-text-color-hover: var(--grey-100);
  --action-secondary-text-color-focus: var(--grey-100);
  --action-secondary-text-color-disabled: var(--grey-600);
  /* Action - Tertiary (Button & Link) */
  --action-tertiary-border-color: var(--black-opacity-0);
  --action-tertiary-border-color-hover: var(--black-opacity-0);
  --action-tertiary-border-color-focus: var(--black-opacity-0);
  --action-tertiary-border-color-disabled: var(--black-opacity-0);
  --action-tertiary-background: var(--black-opacity-0);
  --action-tertiary-background-hover: var(--white-opacity-10);
  --action-tertiary-background-focus: var(--white-opacity-10);
  --action-tertiary-background-disabled: var(--grey-900);
  --action-tertiary-text-color: var(--grey-100);
  --action-tertiary-text-color-hover: var(--grey-100);
  --action-tertiary-text-color-focus: var(--grey-100);
  --action-tertiary-text-color-disabled: var(--grey-600);
  /* Action - Overlay (Button & Link) */
  --action-overlay-border-color: var(--white-opacity-30);
  --action-overlay-border-color-hover: var(--white-opacity-30);
  --action-overlay-border-color-focus: var(--white-opacity-30);
  --action-overlay-border-color-disabled: var(--white-opacity-20);
  --action-overlay-background: var(--black-opacity-60);
  --action-overlay-background-hover: var(--black-opacity-70);
  --action-overlay-background-focus: var(--black-opacity-70);
  --action-overlay-background-disabled: var(--black-opacity-40);
  --action-overlay-text-color: var(--white);
  --action-overlay-text-color-hover: var(--white);
  --action-overlay-text-color-focus: var(--white);
  --action-overlay-text-color-disabled: var(--white-opacity-40);
  /* Action - Attention (Button & Link) */
  --action-attention-border-color: var(--black-opacity-0);
  --action-attention-border-color-hover: var(--black-opacity-0);
  --action-attention-border-color-focus: var(--black-opacity-0);
  --action-attention-border-color-disabled: var(--black-opacity-0);
  --action-attention-background: var(--red-600);
  --action-attention-background-hover: var(--red-700);
  --action-attention-background-focus: var(--red-700);
  --action-attention-background-disabled: var(--red-900);
  --action-attention-text-color: var(--white);
  --action-attention-text-color-hover: var(--white);
  --action-attention-text-color-focus: var(--white);
  --action-attention-text-color-disabled: var(--red-300);
  /* Action - Avatar (Button & Link) */
  --action-avatar-background: var(--grey-1000);
  --action-avatar-background-hover: var(--grey-1100);

  /* Surface */
  --surface: var(--grey-1000);
  --surface-elevated-alpha: var(--white-opacity-10);
  --surface-elevated-100: var(--grey-800);
  --surface-elevated-200: var(--grey-900);
  --prompt-preview-dismiss-border-color: var(--white-opacity-30);
  --prompt-preview-box-drop-shadow: drop-shadow(
    0 var(--stroke-size-100) var(--stroke-size-200) var(--black-opacity-20)
  );
  --prompt-preview-surface: var(--surface-elevated-200);
  --prompt-preview-accent-mix-100: 14%;
  --prompt-preview-accent-mix-200: 10%;
  --prompt-preview-accent-mix-300: 8%;
  --prompt-preview-accent-mix-400: 12%;
  --prompt-preview-accent-mix-500: 6%;
  --prompt-preview-dismiss-secondary-background: var(--surface-recessed-100);
  --prompt-preview-dismiss-secondary-background-hover: var(--surface-recessed-200);
  --prompt-preview-dismiss-secondary-border: var(--stroke-size-100) var(--stroke-solid) var(--white-opacity-30);
  --prompt-preview-dismiss-secondary-border-hover: var(--stroke-size-100) var(--stroke-solid) var(--white-opacity-50);
  --prompt-preview-top-shade-height: calc(var(--space-600) + var(--space-100));
  --prompt-preview-top-shade-start: var(--black-opacity-30);
  --prompt-preview-top-shade-end: var(--black-opacity-0);
  --prompt-preview-top-shade-start-overlay: var(--black-opacity-50);
  --prompt-preview-top-shade-end-overlay: var(--black-opacity-0);
  --surface-elevated-300: var(--grey-1000);
  --surface-recessed-alpha: var(--black-opacity-30);
  --surface-recessed-100: var(--grey-1000);
  --surface-recessed-200: var(--grey-1100);
  --surface-recessed-300: var(--grey-1200);
  /* Stroke */
  --outline-color: var(--blue-300);
  --border-color: var(--white-opacity-20);
  /* Text */
  --text-color: var(--grey-200);
  --text-color-success: var(--green-400);
  --text-color-warning: var(--orange-400);
  --text-color-error: var(--red-400);
  --text-color-optional: var(--grey-400);
  /* Overlay */
  --backdrop-overlay: var(--black-opacity-70);
  /* ================================================================================================== */
  /* Components                                                                                         */
  /* ================================================================================================== */
  /* Switch */
  --switch-track-background: var(--grey-600);
  --switch-track-background-checked: var(--green-500);
  --switch-thumb-bg: var(--black);
  --switch-icon: var(--icon-color-default);
  /* Icon */
  --icon-color-default: var(--white);
  --icon-color-inverted: var(--black);
  /* Badge */
  --badge-text-color: var(--grey-900);
  --badge-background-neutral: var(--grey-400);
  --badge-background-positive: var(--green-400);
  --badge-background-warning: var(--orange-400);
  --badge-background-attention: var(--red-400);
  --badge-background-overlay: var(--black-opacity-60);
  --badge-text-color-overlay: var(--white);
  --badge-border-overlay: var(--stroke-size-100) var(--stroke-solid) var(--white-opacity-30);
  /* Heading */
  --heading-text-color: var(--grey-100);
  /* Link */
  --link-text-color-default: var(--grey-200);
  --link-text-color-default-hover: var(--grey-100);
  --link-text-color-default-focus: var(--grey-100);
  --link-text-color-default-disabled: var(--grey-600);
  /* Input */
  --input-background: var(--grey-900);
  --input-background-disabled: var(--grey-800);
  /* Checkbox */
  --checkbox-background: var(--grey-900);
  --checkbox-background-checked: var(--grey-200);
  --checkbox-icon-color-checked: var(--grey-900);
  --checkbox-background-disabled: var(--grey-800);
  --checkbox-background-checked-disabled: var(--grey-500);
  --checkbox-icon-color-checked-disabled: var(--grey-900);
  /* Radio */
  --radio-background: var(--grey-900);
  --radio-border-color: var(--form-default-border-color);
  --radio-border-color-hover: var(--form-default-border-color-hover);
  --radio-border-color-checked: var(--grey-200);
  --radio-dot-color-checked: var(--grey-200);
  --radio-background-disabled: var(--grey-800);
  --radio-border-color-disabled: var(--grey-600);
  --radio-dot-color-checked-disabled: var(--grey-500);
  /* Addon */
  --addon-background: var(--grey-1000);
  /* Tabs */
  --tab-border-color: var(--grey-800);

  --tab-background: var(--grey-1100);
  --tab-icon: var(--grey-400);
  --tab-text-color: var(--grey-400);

  --tab-background-active: var(--grey-700);
  --tab-icon-active: var(--white);
  --tab-text-color-active: var(--white);
  --tab-shadow-active: var(--black-opacity-40);

  /* Carousel */
  --carousel-background: var(--grey-700);

  /* Slat */
  --slat-background: var(--black-opacity-20);
  --slat-background-hover: var(--black-opacity-50);
  --slat-card-background: var(--surface-elevated-100);
  --slat-card-background-hover: var(--surface-elevated-200);
  --slat-avatar-background: var(--black-opacity-20);
  --slat-avatar-background-hover: var(--black-opacity-40);
  --slat-card-avatar-background: var(--black-opacity-30);
  --slat-card-avatar-background-hover: var(--black-opacity-40);

  /* Avatar */
  --avatar-background-neutral: var(--grey-900);
  --avatar-background-positive: var(--green-900);
  --avatar-background-warning: var(--orange-900);
  --avatar-background-attention: var(--red-900);

  --avatar-background-purple: var(--avatar-purple-800);
  --avatar-background-violet: var(--avatar-violet-800);
  --avatar-background-pink: var(--avatar-pink-800);
  --avatar-background-magenta: var(--avatar-magenta-800);
  --avatar-background-red: var(--avatar-red-800);
  --avatar-background-orange: var(--avatar-orange-800);
  --avatar-background-amber: var(--avatar-amber-800);
  --avatar-background-yellow: var(--avatar-yellow-800);
  --avatar-background-lime: var(--avatar-lime-800);
  --avatar-background-green: var(--avatar-green-800);
  --avatar-background-teal: var(--avatar-teal-800);
  --avatar-background-cyan: var(--avatar-cyan-800);
  --avatar-background-blue: var(--avatar-blue-800);
  --avatar-background-indigo: var(--avatar-indigo-800);

  /* Chip */
  --chip-background: var(--grey-800);
  --chip-background-hover: var(--grey-800);
  --chip-background-focus: var(--grey-800);
  --chip-background-active: var(--grey-800);
  --chip-border-color: var(--grey-600);
  --chip-border-color-hover: var(--grey-700);
  --chip-border-color-focus: var(--grey-700);
  --chip-border-color-active: var(--grey-100);
  --chip-text-color-active: var(--grey-100);
  --chip-icon-fill: var(--white);
  --chip-filter: drop-shadow(0 var(--stroke-size-100) var(--stroke-size-200) var(--black-opacity-20));
  --chip-dismiss-action-background: var(--grey-700);
  --chip-dismiss-action-background-hover: var(--white-opacity-0);
  --chip-dismiss-action-filter: drop-shadow(0 var(--stroke-size-100) var(--stroke-size-200) var(--black-opacity-5));

  /* Dropdown */
  --dropdown-background: var(--grey-1000);
  --dropdown-border-color: var(--black-opacity-20);
  --dropdown-shadow-color: var(--black-opacity-20);
  --dropdown-button-background-hover: var(--grey-900);

  /* Progress */
  --progress-bar-background: var(--blue-500);
  --progress-track-background: var(--grey-700);
  --progress-loading-bar-100: var(--grey-900);
  --progress-loading-bar-200: var(--grey-1000);
  --progress-syncing-bar-background: var(--progress-bar-background);

  /* Stepper */
  --stepper-color: var(--white);
  --stepper-background-active: var(--stepper-color);
  --stepper-background-inactive: var(--black);
  --stepper-border-color: var(--stepper-color);
  --stepper-text-color-active: var(--stepper-color);
  --stepper-icon-color: var(--grey-1100);
  --stepper-success-color: var(--stepper-color);
  --stepper-warning-color: var(--orange-300);
  --stepper-error-color: var(--red-300);
  --stepper-disabled-color: var(--text-color-optional);
  --stepper-disabled-opacity: 0.8;

  /* Dialog */
  --dialog-background: var(--grey-800);

  /* Drawer */
  --drawer-background: var(--grey-800);
}

/* ==================================================================================================== */
/* 4. SET THE FOUNDATION                                                                                */
/* ==================================================================================================== */
:where(html) {
  /* Dropdown */
  --dropdown-offset: var(--space-200);
  --dropdown-min-width: 15rem;

  /* Feedback - Border (Alerts & Messages) */
  --feedback-neutral-border: var(--stroke-size-200) var(--stroke-solid) var(--feedback-neutral-border-color);
  --feedback-positive-border: var(--stroke-size-200) var(--stroke-solid) var(--feedback-positive-border-color);
  --feedback-info-border: var(--stroke-size-200) var(--stroke-solid) var(--feedback-info-border-color);
  --feedback-warning-border: var(--stroke-size-200) var(--stroke-solid) var(--feedback-warning-border-color);
  --feedback-attention-border: var(--stroke-size-200) var(--stroke-solid) var(--feedback-attention-border-color);
  /* Action (Button & Link) */
  --action-primary-border: var(--stroke-size-200) var(--stroke-solid) var(--action-primary-border-color);
  --action-primary-border-hover: var(--stroke-size-200) var(--stroke-solid) var(--action-primary-border-color-hover);
  --action-primary-border-focus: var(--stroke-size-200) var(--stroke-solid) var(--action-primary-border-color-focus);
  --action-primary-border-disabled: var(--stroke-size-200) var(--stroke-solid)
    var(--action-primary-border-color-disabled);
  --action-secondary-border: var(--stroke-size-200) var(--stroke-solid) var(--action-secondary-border-color);
  --action-secondary-border-hover: var(--stroke-size-200) var(--stroke-solid) var(--action-secondary-border-color-hover);
  --action-secondary-border-focus: var(--stroke-size-200) var(--stroke-solid) var(--action-secondary-border-color-focus);
  --action-secondary-border-disabled: var(--stroke-size-200) var(--stroke-solid)
    var(--action-secondary-border-color-disabled);
  --action-tertiary-border: var(--stroke-size-200) var(--stroke-solid) var(--action-tertiary-border-color);
  --action-tertiary-border-hover: var(--stroke-size-200) var(--stroke-solid) var(--action-tertiary-border-color-hover);
  --action-tertiary-border-focus: var(--stroke-size-200) var(--stroke-solid) var(--action-tertiary-border-color-focus);
  --action-tertiary-border-disabled: var(--stroke-size-200) var(--stroke-solid)
    var(--action-tertiary-border-color-disabled);
  --action-overlay-border: var(--stroke-size-100) var(--stroke-solid) var(--action-overlay-border-color);
  --action-overlay-border-hover: var(--stroke-size-100) var(--stroke-solid) var(--action-overlay-border-color-hover);
  --action-overlay-border-focus: var(--stroke-size-100) var(--stroke-solid) var(--action-overlay-border-color-focus);
  --action-overlay-border-disabled: var(--stroke-size-100) var(--stroke-solid)
    var(--action-overlay-border-color-disabled);
  --action-attention-border: var(--stroke-size-200) var(--stroke-solid) var(--action-attention-border-color);
  --action-attention-border-hover: var(--stroke-size-200) var(--stroke-solid) var(--action-attention-border-color-hover);
  --action-attention-border-focus: var(--stroke-size-200) var(--stroke-solid) var(--action-attention-border-color-focus);
  --action-attention-border-disabled: var(--stroke-size-200) var(--stroke-solid)
    var(--action-attention-border-color-disabled);
  --action-font-size: var(--text-font-size);
  --action-line-height: var(--text-line-height);
  --action-font-weight: var(--font-weight-medium);

  /* SIZE: XSMALL */
  --action-radius-x-small: var(--radius-100);
  --action-padding-x-small: var(--space-050) var(--space-200);
  --action-before-slot-padding-x-small: var(--space-100);
  --action-after-slot-padding-x-small: var(--space-100);
  --action-icon-only-size-x-small: 2.8rem;

  /* SIZE: SMALL */
  --action-radius-small: var(--radius-100);
  --action-padding-small: calc(var(--space-100) - (var(--stroke-size-100) / 2)) var(--space-300);
  --action-before-slot-padding-small: var(--space-200);
  --action-after-slot-padding-small: var(--space-200);
  --action-icon-only-size-small: 3.6rem;

  /* SIZE: MEDIUM: DEFAULT */
  --action-radius-medium: var(--radius-200);
  --action-padding: var(--space-200) calc(var(--space-300) + var(--space-100));
  --action-before-slot-padding: var(--space-300);
  --action-after-slot-padding: var(--space-300);
  --action-icon-only-padding: var(--space-000);
  --action-icon-only-size: 4.4rem;

  /* SIZE: LARGE */
  --action-radius-large: var(--radius-300);
  --action-padding-large: var(--space-300) var(--space-500);
  --action-before-slot-padding-large: var(--space-400);
  --action-after-slot-padding-large: var(--space-400);
  --action-icon-only-size-large: 5.2rem;

  /* Text */
  --text-line-height-xs: var(--line-height-25);
  --text-line-height-s: var(--line-height-50);
  --text-line-height-m: var(--line-height-100);
  --text-line-height-l: var(--line-height-200);
  --text-font-size-xs: var(--font-size-25);
  --text-font-size-s: var(--font-size-50);
  --text-font-size-m: var(--font-size-100);
  --text-font-size-l: var(--font-size-200);
  --text-font-size: var(--text-font-size-m);
  --text-line-height: var(--text-line-height-m);
  /* Font-Weight */
  --font-weight-regular: var(--font-weight-400);
  --font-weight-medium: var(--font-weight-500);
  --font-weight-semi-bold: var(--font-weight-600);
  --font-weight-bold: var(--font-weight-700);
  /* Border */
  --border-thin: var(--stroke-size-100) var(--stroke-solid) var(--border-color);
  --border-thick: var(--stroke-size-200) var(--stroke-solid) var(--border-color);
  /* Outline */
  --outline-thin: var(--stroke-size-100) var(--stroke-outset) var(--outline-color);
  --outline-medium: var(--stroke-size-300) var(--stroke-outset) var(--outline-color);
  --outline-thick: var(--stroke-size-500) var(--stroke-outset) var(--outline-color);
  /* ================================================================================================== */
  /* Components                                                                                         */
  /* ================================================================================================== */
  /* Switch */
  --switch-offset: 1px;
  --switch-thumb-size: 3.6rem;
  --switch-width: calc(var(--switch-height) * 1.6);
  --switch-height: calc(var(--switch-thumb-size) + (var(--switch-offset) * 2));
  /* Card */
  --card-radius: var(--radius-150);
  /* Badge */
  --badge-radius: var(--radius-300);
  --badge-font-weight: var(--font-weight-bold);
  /* Heading */
  --heading-font-weight: var(--font-weight-bold);
  --heading-font-size-100: var(--font-size-600);
  --heading-font-size-200: var(--font-size-500);
  --heading-font-size-300: var(--font-size-400);
  --heading-font-size-400: var(--font-size-300);
  --heading-font-size-500: var(--font-size-200);
  --heading-font-size-600: var(--font-size-100);
  --heading-line-height-100: var(--line-height-600);
  --heading-line-height-200: var(--line-height-500);
  --heading-line-height-300: var(--line-height-400);
  --heading-line-height-400: var(--line-height-300);
  --heading-line-height-500: var(--line-height-200);
  --heading-line-height-600: var(--line-height-100);
  /* Alert */
  --alert-radius: var(--radius-100);
  --alert-padding-large: var(--space-400);
  --alert-padding-medium: var(--space-300);
  --alert-padding-small: var(--space-200);
  --alert-gap-horizontal-mobile: var(--space-300);
  --alert-gap-horizontal-desktop: var(--space-100);
  /* Messages */
  --message-radius: var(--radius-150);
  --message-padding: var(--space-400);
  --message-gap-horizontal: var(--space-300);
  --message-gap-vertical: var(--space-100);
  /* Progress */
  --progress-radius: var(--space-300);
  --progress-syncing-width: 30%;
  --progress-pending-stripe-size: 1rem;
  /* Stepper */
  --stepper-dot-size: var(--action-icon-only-size-x-small);
  --stepper-dot-size-small: calc(var(--stepper-dot-size) - var(--space-050));
  --stepper-dot-size-x-small: calc(var(--stepper-dot-size-small) - var(--space-050));
  /* Tab */
  --tab-radius: var(--radius-200);
  --tab-font-size: var(--text-font-size-m);
  --tab-line-height: var(--text-line-height-m);
  --tab-font-weight: var(--font-weight-medium);
  --tab-padding: var(--space-200) calc(var(--space-300) + var(--space-100));
  --tab-before-slot-padding: var(--space-300);
  --tab-after-slot-padding: var(--space-300);
  --tab-min-height: 4.4rem;
  --tab-gap: var(--space-100);
  --tab-gap-x-small: var(--space-050);
  --tab-gap-small: var(--space-100);
  --tab-gap-large: var(--space-200);
  --tab-font-size-x-small: var(--text-font-size-xs);
  --tab-line-height-x-small: var(--text-line-height-xs);
  --tab-font-weight-x-small: var(--font-weight-semi-bold);
  --tab-padding-x-small: var(--space-050) var(--space-200);
  --tab-before-slot-padding-x-small: var(--space-100);
  --tab-after-slot-padding-x-small: var(--space-100);
  --tab-min-height-x-small: 2.8rem;
  --tab-font-size-small: var(--text-font-size-s);
  --tab-line-height-small: var(--text-line-height-s);
  --tab-padding-small: calc(var(--space-100) - (var(--stroke-size-100) / 2)) var(--space-300);
  --tab-before-slot-padding-small: var(--space-200);
  --tab-after-slot-padding-small: var(--space-200);
  --tab-min-height-small: 3.6rem;
  --tab-font-size-large: var(--text-font-size-l);
  --tab-line-height-large: var(--text-line-height-l);
  --tab-padding-large: var(--space-300) var(--space-500);
  --tab-before-slot-padding-large: var(--space-400);
  --tab-after-slot-padding-large: var(--space-400);
  --tab-min-height-large: 5.2rem;
  --tab-edge-padding-extra: var(--space-050);
  --tab-edge-padding-extra-x-small: var(--space-025);
  --tab-edge-padding-extra-small: var(--space-050);
  --tab-edge-padding-extra-large: var(--space-100);
  --tab-badge-offset: var(--space-025);
  --tab-badge-offset-large: var(--space-050);
  --tab-dot-size: 1rem;
  --tab-dot-gap: var(--space-100);
  --tab-dot-color: var(--tab-icon);
  --tab-dot-color-active: var(--tab-icon-active);
  /* Carousel */
  --carousel-radius: var(--radius-300);
  --carousel-tab-position: var(--space-400);
  --carousel-tab-offset: calc(4.4rem + var(--carousel-tab-position)); /* Tab Height */
  /* Slat [Action] */
  --slat-radius: var(--radius-200);
  /* Checkbox */
  --checkbox-radius: var(--radius-100);
  --checkbox-size: calc(var(--space-500) - var(--stroke-size-500));
  /* Radio */
  --radio-size: calc(var(--space-500) - 2px);

  /* Chip */
  --chip-radius: var(--chip-radius-medium);
  --chip-radius-x-small: var(--radius-300);
  --chip-radius-small: var(--radius-400);
  --chip-radius-medium: var(--radius-500);
  --chip-radius-large: var(--radius-600);
  --chip-height-x-small: 2.8rem;
  --chip-height-small: 3.6rem;
  --chip-height-medium: 4rem;
  --chip-height-large: 5.2rem;
  --chip-padding-x-small: 0 var(--space-200);
  --chip-padding-small: var(--space-100) var(--space-300);
  --chip-padding-medium: var(--space-100) var(--space-300);
  --chip-padding-large: var(--space-200) var(--space-400);
  --chip-gap-x-small: var(--space-100);
  --chip-gap-small: var(--space-200);
  --chip-gap-medium: var(--space-200);
  --chip-gap-large: var(--space-300);
  /* Dropdown */
  --dropdown-radius: var(--radius-100);
  /* Dialog */
  --dialog-radius: var(--radius-150);
  /* Avatar */
  --avatar-x-small: var(--space-500); /* 24px */
  --avatar-small: calc(var(--space-600) + var(--space-025)); /* 38px */
  --avatar-medium: var(--space-700); /* 48px */
  --avatar-large: calc(var(--space-700) + var(--space-200)); /* 56px */
}
