/* ==================== */
/*   __  __ _   _ ___   */
/*  |  \/  | | | |_ _|  */
/*  | |\/| | | | || |   */
/*  | |  | | |_| || |   */
/*  |_|  |_|\___/|___|  */
/*                      */
/*   michael.ui.system  */
/* ==================== */

/* =============================================================================== */
/* 1. BRAND PRIMITIVES  ------> modern/brand.css                                   */
/* =============================================================================== */

/* =============================================================================== */
/* 2. LIGHT MODE                                                                   */
/* =============================================================================== */
html[data-brand="modern"][data-theme="light"] {
  /* Feedback */
  --feedback-neutral-border-color: var(--black-opacity-20);
  --feedback-positive-border-color: var(--green-600);
  --feedback-info-border-color: var(--blue-600);
  --feedback-warning-border-color: var(--orange-600);
  --feedback-attention-border-color: var(--red-600);
  --feedback-neutral-background: var(--white);
  --feedback-positive-background: var(--green-100);
  --feedback-info-background: var(--blue-100);
  --feedback-warning-background: var(--orange-100);
  --feedback-attention-background: var(--red-100);
  --feedback-neutral-icon: var(--grey-600);
  --feedback-positive-icon: var(--green-600);
  --feedback-info-icon: var(--blue-600);
  --feedback-warning-icon: var(--orange-600);
  --feedback-attention-icon: var(--red-600);
  --feedback-neutral-text: var(--grey-900);
  --feedback-positive-text: var(--green-900);
  --feedback-info-text: var(--blue-900);
  --feedback-warning-text: var(--orange-900);
  --feedback-attention-text: var(--red-900);
  --feedback-neutral-action-background: var(--grey-200);
  --feedback-positive-action-background: var(--green-200);
  --feedback-info-action-background: var(--blue-200);
  --feedback-warning-action-background: var(--orange-200);
  --feedback-attention-action-background: var(--red-200);

  /* Buttons */
  --action-primary-border-color: var(--black-opacity-0);
  --action-primary-border-color-hover: var(--black-opacity-0);
  --action-primary-border-color-focus: var(--black-opacity-0);
  --action-primary-border-color-disabled: var(--black-opacity-0);
  --action-primary-background: var(--black);
  --action-primary-background-hover: var(--grey-900);
  --action-primary-background-focus: var(--grey-900);
  --action-primary-background-disabled: var(--grey-200);
  --action-primary-text-color: var(--white);
  --action-primary-text-color-hover: var(--white);
  --action-primary-text-color-focus: var(--white);
  --action-primary-text-color-disabled: var(--grey-400);

  --action-secondary-border-color: var(--grey-800);
  --action-secondary-border-color-hover: var(--grey-800);
  --action-secondary-border-color-focus: var(--grey-800);
  --action-secondary-border-color-disabled: var(--grey-300);
  --action-secondary-background: var(--white-opacity-0);
  --action-secondary-background-hover: var(--white-opacity-50);
  --action-secondary-background-focus: var(--white-opacity-50);
  --action-secondary-background-disabled: var(--grey-100);
  --action-secondary-text-color: var(--grey-900);
  --action-secondary-text-color-hover: var(--grey-1000);
  --action-secondary-text-color-focus: var(--grey-1000);
  --action-secondary-text-color-disabled: var(--grey-400);

  --action-tertiary-border-color: var(--white-opacity-0);
  --action-tertiary-border-color-hover: var(--white-opacity-0);
  --action-tertiary-border-color-focus: var(--white-opacity-0);
  --action-tertiary-border-color-disabled: var(--white-opacity-0);
  --action-tertiary-background: var(--white-opacity-0);
  --action-tertiary-background-hover: var(--white-opacity-50);
  --action-tertiary-background-focus: var(--white-opacity-50);
  --action-tertiary-background-disabled: var(--white-opacity-50);
  --action-tertiary-text-color: var(--grey-900);
  --action-tertiary-text-color-hover: var(--grey-1000);
  --action-tertiary-text-color-focus: var(--grey-1000);
  --action-tertiary-text-color-disabled: var(--grey-400);

  --action-attention-border-color: var(--black-opacity-0);
  --action-attention-border-color-hover: var(--black-opacity-0);
  --action-attention-border-color-focus: var(--black-opacity-0);
  --action-attention-border-color-disabled: var(--black-opacity-0);
  --action-attention-background: var(--red-500);
  --action-attention-background-hover: var(--red-600);
  --action-attention-background-focus: var(--red-600);
  --action-attention-background-disabled: var(--grey-200);
  --action-attention-text-color: var(--white);
  --action-attention-text-color-hover: var(--white);
  --action-attention-text-color-focus: var(--white);
  --action-attention-text-color-disabled: var(--grey-400);

  /* Badge */
  --badge-text-color: var(--white);
  --badge-background-neutral: var(--grey-400);
  --badge-background-positive: var(--green-700);
  --badge-background-warning: var(--orange-800);
  --badge-background-attention: var(--red-500);

  /* Outline (Focus) */
  --outline-color: var(--blue-500);

  /* Icon */
  --icon-color-default: var(--black);
  --icon-color-inverted: var(--white);

  /* Type */
  --text-color: var(--grey-900);
  --heading-text-color: var(--grey-1000);

  /* Input */
  --input-background: var(--red-50);

  /* Border */
  --border-color: var(--grey-200);
  --form-default-border-color: var(--grey-200);

  /* Surface */
  --surface: var(--grey-200);
  --surface-elevated-alpha: var(--white-opacity-50);
  --surface-elevated-100: var(--white);
  --surface-elevated-200: var(--grey-100);
  --surface-recessed-alpha: var(--black-opacity-10);
  --surface-recessed-100: var(--grey-300);
  --surface-recessed-200: var(--grey-400);

  /* Switch */
  --switch-track-background: var(--grey-300);
  --switch-track-background-checked: var(--grey-300);

  /* Tabs */
  --tab-border-color: var(--grey-500);

  --tab-background: var(--grey-100);
  --tab-icon: var(--grey-900);
  --tab-text-color: var(--grey-900);

  --tab-background-active: var(--grey-900);
  --tab-icon-active: var(--grey-100);
  --tab-text-color-active: var(--grey-100);
  --tab-shadow-active: var(--grey-200);

  /* Carousel */
  --carousel-background: var(--grey-100);

  /* Chip */
  --chip-border-color-active: var(--grey-1000);
  --chip-text-color-active: var(--grey-1000);

  /* Stepper */
  --stepper-color: var(--blue-600);
  --stepper-background-active: var(--stepper-color);
  --stepper-background-inactive: var(--white);
  --stepper-border-color: var(--stepper-color);
  --stepper-text-color-active: var(--stepper-color);

  /* Avatar */
  --avatar-background-neutral: var(--grey-200);
  --avatar-background-positive: var(--green-200);
  --avatar-background-warning: var(--orange-200);
  --avatar-background-attention: var(--red-200);

  /* Chip */
  --chip-background: var(--white);
  --chip-background-hover: var(--white);
  --chip-background-focus: var(--white);
  --chip-background-active: var(--white);
  --chip-border-color: var(--grey-300);
  --chip-border-color-hover: var(--grey-300);
  --chip-border-color-focus: var(--grey-300);
  --chip-border-color-active: var(--grey-1000);
  --chip-text-color-active: var(--grey-1000);
  --chip-icon-fill: var(--black);
  --chip-dismiss-action-background: var(--grey-100);
  --chip-dismiss-action-background-hover: var(--black-opacity-0);
  --chip-filter: drop-shadow(0 var(--stroke-size-100) var(--stroke-size-200) var(--black-opacity-20));
  --chip-dismiss-action-filter: var(--chip-filter);
}

/* =============================================================================== */
/* 3. DARK MODE                                                                    */
/* =============================================================================== */
html[data-brand="modern"][data-theme="dark"] {
  /* Feedback */
  --feedback-neutral-border-color: var(--white-opacity-30);
  --feedback-positive-border-color: var(--green-400);
  --feedback-info-border-color: var(--blue-400);
  --feedback-warning-border-color: var(--orange-400);
  --feedback-attention-border-color: var(--red-400);
  --feedback-neutral-background: var(--grey-700);
  --feedback-positive-background: var(--green-800);
  --feedback-info-background: var(--blue-800);
  --feedback-warning-background: var(--orange-800);
  --feedback-attention-background: var(--red-800);
  --feedback-neutral-icon: var(--grey-300);
  --feedback-positive-icon: var(--green-300);
  --feedback-info-icon: var(--blue-300);
  --feedback-warning-icon: var(--orange-300);
  --feedback-attention-icon: var(--red-300);
  --feedback-neutral-text: var(--grey-100);
  --feedback-positive-text: var(--green-100);
  --feedback-info-text: var(--blue-100);
  --feedback-warning-text: var(--orange-100);
  --feedback-attention-text: var(--red-100);
  --feedback-neutral-action-background: var(--grey-900);
  --feedback-positive-action-background: var(--green-900);
  --feedback-info-action-background: var(--blue-900);
  --feedback-warning-action-background: var(--orange-900);
  --feedback-attention-action-background: var(--red-900);

  /* Action */
  --action-primary-border-color: var(--black-opacity-0);
  --action-primary-border-color-hover: var(--black-opacity-0);
  --action-primary-border-color-focus: var(--black-opacity-0);
  --action-primary-border-color-disabled: var(--black-opacity-0);
  --action-primary-background: var(--white);
  --action-primary-background-hover: var(--grey-100);
  --action-primary-background-focus: var(--grey-100);
  --action-primary-background-disabled: var(--grey-400);
  --action-primary-text-color: var(--grey-900);
  --action-primary-text-color-hover: var(--grey-900);
  --action-primary-text-color-focus: var(--grey-900);
  --action-primary-text-color-disabled: var(--grey-200);

  --action-secondary-border-color: var(--grey-200);
  --action-secondary-border-color-hover: var(--grey-200);
  --action-secondary-border-color-focus: var(--grey-200);
  --action-secondary-border-color-disabled: var(--grey-600);
  --action-secondary-background: var(--black-opacity-0);
  --action-secondary-background-hover: var(--black-opacity-20);
  --action-secondary-background-focus: var(--black-opacity-20);
  --action-secondary-background-disabled: var(--black-opacity-20);
  --action-secondary-text-color: var(--grey-100);
  --action-secondary-text-color-hover: var(--grey-100);
  --action-secondary-text-color-focus: var(--grey-100);
  --action-secondary-text-color-disabled: var(--grey-600);

  --action-tertiary-border-color: var(--black-opacity-0);
  --action-tertiary-border-color-hover: var(--black-opacity-0);
  --action-tertiary-border-color-focus: var(--black-opacity-0);
  --action-tertiary-border-color-disabled: var(--black-opacity-0);
  --action-tertiary-background: transparent;
  --action-tertiary-background-hover: var(--black-opacity-20);
  --action-tertiary-background-focus: var(--black-opacity-20);
  --action-tertiary-background-disabled: var(--black-opacity-20);
  --action-tertiary-text-color: var(--grey-100);
  --action-tertiary-text-color-hover: var(--grey-100);
  --action-tertiary-text-color-focus: var(--grey-100);
  --action-tertiary-text-color-disabled: var(--grey-600);

  --action-attention-border-color: var(--black-opacity-0);
  --action-attention-border-color-hover: var(--black-opacity-0);
  --action-attention-border-color-focus: var(--black-opacity-0);
  --action-attention-border-color-disabled: var(--black-opacity-0);
  --action-attention-background: var(--red-600);
  --action-attention-background-hover: var(--red-700);
  --action-attention-background-focus: var(--red-700);
  --action-attention-background-disabled: var(--grey-400);
  --action-attention-text-color: var(--white);
  --action-attention-text-color-hover: var(--white);
  --action-attention-text-color-focus: var(--white);
  --action-attention-text-color-disabled: var(--grey-200);

  /* Badge */
  --badge-text-color: var(--white);
  --badge-background-neutral: var(--grey-600);
  --badge-background-positive: var(--green-900);
  --badge-background-warning: var(--orange-900);
  --badge-background-attention: var(--red-700);

  /* Outline (Focus) */
  --outline-color: var(--blue-500);

  /* Icon */
  --icon-color-default: var(--white);
  --icon-color-inverted: var(--black);

  /* Type */
  --text-color: var(--grey-100);
  --heading-text-color: var(--grey-200);

  /* Input */
  --input-background: var(--grey-800);

  /* Border */
  --border-color: var(--grey-600);
  --form-default-border-color: var(--grey-600);

  /* Surface */
  --surface: var(--grey-900);
  --surface-elevated-alpha: var(--white-opacity-10);
  --surface-elevated-100: var(--grey-700);
  --surface-elevated-200: var(--grey-800);
  --surface-recessed-alpha: var(--black-opacity-30);
  --surface-recessed-100: var(--grey-900);
  --surface-recessed-200: var(--grey-1000);

  /* Switch */
  --switch-track-background: var(--grey-300);
  --switch-track-background-checked: var(--grey-300);

  /* Tabs */
  --tab-border-color: var(--grey-700);

  --tab-background: var(--grey-800);
  --tab-icon: var(--grey-100);
  --tab-text-color: var(--grey-100);

  --tab-background-active: var(--grey-100);
  --tab-icon-active: var(--grey-800);
  --tab-text-color-active: var(--grey-800);
  --tab-shadow-active: var(--grey-900);

  /* Carousel */
  --carousel-background: var(--grey-700);

  /* Chip */
  --chip-border-color-active: var(--grey-100);
  --chip-text-color-active: var(--grey-100);

  /* Stepper */
  --stepper-color: var(--blue-400);
  --stepper-background-active: var(--stepper-color);
  --stepper-background-inactive: var(--black);
  --stepper-border-color: var(--stepper-color);
  --stepper-text-color-active: var(--grey-200);

  /* Avatar */
  --avatar-background-neutral: var(--grey-900);
  --avatar-background-positive: var(--green-900);
  --avatar-background-warning: var(--orange-900);
  --avatar-background-attention: var(--red-900);

  /* Chip */
  --chip-background: var(--grey-800);
  --chip-background-hover: var(--grey-800);
  --chip-background-focus: var(--grey-800);
  --chip-background-active: var(--grey-800);
  --chip-border-color: var(--grey-600);
  --chip-border-color-hover: var(--grey-700);
  --chip-border-color-focus: var(--grey-700);
  --chip-border-color-active: var(--grey-100);
  --chip-text-color-active: var(--grey-100);
  --chip-icon-fill: var(--white);
  --chip-dismiss-action-background: var(--grey-700);
  --chip-dismiss-action-background-hover: var(--white-opacity-0);
  --chip-filter: drop-shadow(0 var(--stroke-size-100) var(--stroke-size-200) var(--black-opacity-40));
  --chip-dismiss-action-filter: var(--chip-filter);
}

/* ================================================================= */
/* 4. SET THE FOUNDATION                                             */
/* Map tokens to semantic or component contexts .                    */
/* ================================================================= */
/* If you have a base token file already, you only need to include   */
/* any changes you wish to make                                      */
/* ================================================================= */
html[data-brand="modern"] {
  /* Card */
  --card-radius: var(--radius-400);
  /* Chip */
  --chip-icon-fill: var(--icon-color-default);
}
