/* =============================================================================== */
/*   Author Styles: Your custom styles                                             */
/* =============================================================================== */

html[data-theme="light"] {
  --app-container-surface: var(--white);
  --logo-color: var(--grey-800);
}

html[data-theme="dark"] {
  --app-container-surface: var(--grey-1000);
  --logo-color: #ffeb3b;
}

body {
  display: grid;
  place-items: center;
  text-align: center;
  background-color: var(--app-container-surface);
}

.introduction {
  max-width: 36ch;
}
