/* ==================== */
/*   __  __ _   _ ___   */
/*  |  \/  | | | |_ _|  */
/*  | |\/| | | | || |   */
/*  | |  | | |_| || |   */
/*  |_|  |_|\___/|___|  */
/*                      */
/*   michael.ui.system  */
/* ==================== */

/* =============================================================================== */
/*   Theme Storefront: MUI                                                         */
/*   Component theme alignment across storefront                                   */
/* =============================================================================== */
html[data-brand="mui"][data-theme="light"] {
  --app-logo-color: var(--grey-800);
  --app-heading-color: var(--black);
  --app-nav-accent: var(--black);
  --app-theme-toggle-bg: var(--grey-800);
  --app-story-snippet-code-bg: var(--mui-brand-300);
  --app-story-snippet-code-text: var(--black);
  --app-story-banner-gradient-start: var(--black-opacity-10);
  --app-story-banner-gradient-end: var(--white-opacity-20);
  --app-story-banner-border-color: var(--black-opacity-40);
  --app-story-icon-grid-background: var(--white);
  --app-story-icon-grid-text: var(--grey-900);
  --app-story-icon-grid-text-inverted: var(--grey-100);
  --app-story-icon-grid-background-inverted: var(--grey-900);
  /* App Surface */
  --app-container-surface: var(--white);
  --app-navbar-border-color: var(--black-opacity-20);
  --app-navbar-border: var(--stroke-size-100) solid var(--app-navbar-border-color);
  --app-navbar-surface-opacity: var(--white-opacity-60);
  --app-navbar-surface: var(--white);
  --app-navbar-surface-100: color-mix(in srgb, var(--app-navbar-surface) 96%, black);
  --app-navbar-accordion-chevron-hover: var(--surface-elevated-200);
  /* Home Page */
  --home-page-body-text: var(--black);
  --app-story-card: var(--grey-200);
}
html[data-brand="mui"][data-theme="dark"] {
  --app-logo-color: var(--mui-brand-300);
  --app-heading-color: var(--mui-brand-300);
  --app-nav-accent: var(--mui-brand-300);
  --app-theme-toggle-bg: var(--mui-brand-300);
  --app-story-snippet-code-bg: var(--mui-brand-300);
  --app-story-snippet-code-text: var(--black);
  --app-story-banner-gradient-start: var(--white-opacity-10);
  --app-story-banner-gradient-end: var(--black-opacity-20);
  --app-story-banner-border-color: var(--white-opacity-20);
  --app-story-icon-grid-background: var(--black);
  --app-story-icon-grid-text: var(--grey-100);
  --app-story-icon-grid-text-inverted: var(--grey-900);
  --app-story-icon-grid-background-inverted: var(--grey-200);
  /* App Surface */
  --app-container-surface: var(--grey-1000);
  --app-navbar-border-color: var(--white-opacity-10);
  --app-navbar-border: var(--stroke-size-100) solid var(--app-navbar-border-color);
  --app-navbar-surface-opacity: hsla(0, 0%, 13%, 0.8);
  --app-navbar-surface: hsl(0, 0%, 13%);
  --app-navbar-surface-100: color-mix(in srgb, var(--app-navbar-surface) 76%, black);
  --app-navbar-accordion-chevron-hover: var(--surface-elevated-200);
  /* Home Page */
  --home-page-body-text: var(--white);
  --app-story-card: var(--grey-1000);
}

/* =============================================================================== */
/*   Theme Storefront: JAL                                                         */
/*   Component theme alignment across storefront                                   */
/* =============================================================================== */
html[data-brand="jal"][data-theme="light"] {
  --app-logo-color: var(--jal-red-400);
  --app-heading-color: var(--jal-red-500);
  --app-nav-accent: var(--jal-red-500);
  --app-theme-toggle-bg: var(--jal-grey-200);
  --app-story-snippet-code-bg: var(--jal-red-300);
  --app-story-snippet-code-text: var(--jal-white);
  /* App Surface */
  --app-container-surface: var(--white);
  --app-navbar-surface-opacity: var(--white-opacity-800);
  --app-navbar-surface: var(--white);
  --app-navbar-surface-100: color-mix(in srgb, var(--app-navbar-surface) 96%, black);
  --app-navbar-border-color: var(--jal-grey-200);
  --app-navbar-border: var(--stroke-size-100) solid var(--app-navbar-border-color);
  --app-navbar-accordion-chevron-hover: var(--jal-grey-100);
  --app-story-card: var(--grey-200);
}

html[data-brand="jal"][data-theme="dark"] {
  --app-logo-color: var(--jal-gold-900);
  --app-heading-color: var(--jal-gold-200);
  --app-nav-accent: var(--jal-gold-200);
  --app-theme-toggle-bg: var(--jal-gold-200);
  --app-story-snippet-code-bg: var(--jal-gold-300);
  --app-story-snippet-code-text: var(--jal-black);
  /* App Surface */
  --app-container-surface: var(--jal-grey-1000);
  --app-navbar-surface-opacity: var(--jal-grey-1000-opacity-80);
  --app-navbar-surface: var(--jal-grey-1000);
  --app-navbar-surface-100: color-mix(in srgb, var(--app-navbar-surface) 76%, black);
  --app-navbar-accordion-chevron-hover: var(--jal-grey-1100);
  --app-story-card: var(--jal-grey-1000);
  --app-navbar-border-color: var(--jal-grey-900);
  --app-navbar-border: var(--stroke-size-100) solid var(--app-navbar-border-color);
}

/* =============================================================================== */
/*   Theme Storefront: ANA                                                         */
/*   Component theme alignment across storefront                                   */
/* =============================================================================== */
html[data-brand="ana"][data-theme="light"] {
  --app-logo-color: var(--ana-blue-500);
  --app-heading-color: var(--ana-blue-500);
  --app-nav-accent: var(--ana-blue-500);
  --app-theme-toggle-bg: var(--ana-grey-200);
  --app-story-snippet-code-bg: var(--ana-blue-500);
  --app-story-snippet-code-text: var(--ana-white);
  /* App Surface */
  --app-container-surface: var(--ana-white);
  --app-navbar-surface-opacity: var(--white-opacity-80);
  --app-navbar-surface: var(--white);
  --app-navbar-surface-100: color-mix(in srgb, var(--app-navbar-surface) 96%, black);
  --app-navbar-border-color: var(--ana-grey-200);
  --app-navbar-border: var(--stroke-size-100) solid var(--app-navbar-border-color);
  /* Home Page */
  --home-page-body-text: var(--ana-blue-500);
  --app-navbar-accordion-chevron-hover: var(--ana-grey-100);
  --app-story-card: var(--ana-grey-200);
}

html[data-brand="ana"][data-theme="dark"] {
  --app-logo-color: var(--ana-white);
  --app-heading-color: var(--ana-blue-200);
  --app-nav-accent: var(--ana-blue-200);
  --app-theme-toggle-bg: var(--ana-blue-200);
  --app-story-snippet-code-bg: var(--ana-blue-200);
  --app-story-snippet-code-text: var(--ana-black);
  /* App Surface */
  --app-container-surface: var(--ana-grey-800);
  --app-navbar-surface-opacity: var(--ana-grey-800-opacity-80);
  --app-navbar-surface: var(--ana-grey-800);
  --app-navbar-surface-100: color-mix(in srgb, var(--app-navbar-surface) 76%, black);
  --app-navbar-border-color: var(--ana-grey-600);
  --app-navbar-border: var(--stroke-size-100) solid var(--app-navbar-border-color);
  /* Home Page */
  --home-page-body-text: var(--white);
  --app-navbar-accordion-chevron-hover: var(--ana-grey-900);
  --app-story-card: var(--ana-grey-800);
}

/* =============================================================================== */
/*   Theme Storefront: Create App                                                  */
/*   Component theme alignment across storefront                                   */
/* =============================================================================== */

html[data-brand="modern"][data-theme="light"] {
  --app-logo-color: var(--black);
  --app-heading-color: var(--black);
  --app-nav-accent: var(--black);
  --app-theme-toggle-bg: var(--grey-300);
  --app-story-snippet-code-bg: var(--grey-200);
  --app-story-snippet-code-text: var(--black);
  /* App Surface */
  --app-container-surface: var(--grey-100);
  --app-navbar-surface-opacity: var(--grey-100-opacity-80);
  --app-navbar-surface: var(--grey-100);
  --app-navbar-surface-100: color-mix(in srgb, var(--app-navbar-surface) 96%, black);
  --app-navbar-border-color: var(--grey-300);
  --app-navbar-border: var(--stroke-size-100) solid var(--app-navbar-border-color);
  --app-navbar-accordion-chevron-hover: var(--grey-100);
  --app-story-card: var(--grey-200);
}

html[data-brand="modern"][data-theme="dark"] {
  --app-logo-color: var(--white);
  --app-heading-color: var(--white);
  --app-nav-accent: var(--white);
  --app-theme-toggle-bg: var(--grey-300);
  --app-story-snippet-code-bg: var(--white);
  --app-story-code-text: var(--black);
  /* App Surface */
  --app-container-surface: var(--grey-1000);
  --app-navbar-surface-opacity: var(--grey-1000-opacity-80);
  --app-navbar-surface: var(--grey-1000);
  --app-navbar-surface-100: color-mix(in srgb, var(--app-navbar-surface) 76%, black);
  --app-navbar-border-color: var(--grey-800);
  --app-navbar-border: var(--stroke-size-100) solid var(--app-navbar-border-color);
  --app-navbar-accordion-chevron-hover: var(--grey-800);
  --app-story-card: var(--grey-900);
}

/* =============================================================================== */
/*   Theme Storefront: SENSEI                                                      */
/*   Component theme alignment across storefront                                   */
/* =============================================================================== */
html[data-brand="sensei"][data-theme="light"] {
  --app-logo-color: var(--sensei-green-1100);
  --app-heading-color: var(--sensei-green-1100);
  --app-nav-accent: var(--sensei-green-1400);
  --app-theme-toggle-bg: var(--sensei-green-900);
  --app-story-snippet-code-bg: var(--sensei-green-500);
  --app-story-snippet-code-text: var(--sensei-green-1200);
  /* App Surface */
  --app-container-surface: var(--sensei-green-400);
  --app-navbar-border: var(--border-thin);
  --app-navbar-surface-opacity: var(--sensei-green-400-opacity-80);
  --app-navbar-surface: var(--sensei-green-400);
  --app-navbar-surface-100: var(--sensei-green-300);
  --app-navbar-border-color: var(--sensei-green-700);
  --app-navbar-border: var(--stroke-size-100) solid var(--app-navbar-border-color);
  --app-navbar-accordion-chevron-hover: var(--app-navbar-surface-100);
  --home-page-body-text: var(--sensei-green-1200);
  --app-story-card: var(--sensei-white-opacity-60);
  --app-story-wallet-card: var(--surface-elevated-100);
}

html[data-brand="sensei"][data-theme="dark"] {
  --app-logo-color: var(--sensei-green-500);
  --app-heading-color: var(--sensei-green-400);
  --app-nav-accent: var(--sensei-green-400);
  --app-theme-toggle-bg: var(--sensei-green-400);
  --app-story-snippet-code-bg: var(--sensei-green-500);
  --app-story-snippet-code-text: var(--sensei-green-1200);
  /* App Surface */
  --app-container-surface: var(--sensei-green-1400);
  --app-navbar-border: var(--border-thin);
  --app-navbar-surface-opacity: var(--sensei-green-1400-opacity-80);
  --app-navbar-surface: var(--sensei-green-1400);
  --app-navbar-surface-100: var(--sensei-green-1300);
  --app-navbar-border-color: var(--sensei-green-1200);
  --app-navbar-border: var(--stroke-size-100) solid var(--app-navbar-border-color);
  --app-navbar-accordion-chevron-hover: var(--app-navbar-surface-100);
  --home-page-body-text: var(--sensei-green-400);
  --app-story-card: var(--sensei-green-1400);
  --app-story-wallet-card: var(--surface-elevated-100);
}
